.card {
    display: inline-flex;
    flex-grow: 1;
    flex-direction: column;
}

.card>.card-name {
    font-size: small;
    text-align: center;
}

/* .card>img {
    z-index: 0;
}

.card>img.zoom-in {
    z-index: 2;
    animation: zoom-in 0.5s forwards;
}

@keyframes zoom-in {
    0.1% {
        position: absolute;
        top: 50vh;
        left: 50vw;
        transform: scale(3);
    }

    100% {
        position: absolute;
        top: 50vh;
        left: 50vw;
        transform: scale(4);
    }
} */