.deck-container>.card-container {
    margin-top: 8px;
}

.side-deck-container {
    margin-top: 16px;
}

.deck-container-title>span {
    font-size: large;
}

.deck-container-title {
    display: flex;
    padding: 0px 12px;
    justify-content: space-between;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--desktop-card-width));
    gap: 8px;
}