:root {
    --search-bar: #e3e3e3;
    --desktop-card-width: 98px;
    --desktop-card-height: 143px;
    --desktop-card-search-width: 70px;
    --desktop-card-search-height: 102px;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex: 1;
}

.main-content {
    padding: 8px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border: black;
    overflow: auto;
    max-width: 857px;
}

.header {
    text-align: center;
    padding: 16px;
}
.header>h1 {
    margin: 10px 0px;
}