:root {
    --search-bar: #e3e3e3;
    --desktop-card-search-width: 70px;
    --desktop-card-search-height: 102px;
}

.deck-container>.card-container {
    margin-top: 8px;
}

.main-deck-container {
    display: flex;
    flex: 3;
    flex-direction: column;
    margin-bottom: 8px;
}

.side-deck-container {
    flex: 1;
}

.deck-container-title {
    font-size: large;
}

.search-bar {
    flex-shrink: 0;
    display: flex;
    padding: 8px 8px;
    border-radius: 8px;
    background: var(--search-bar);
    overflow: hidden;
    align-items: center;
}

.search-bar>.search-bar-warpper {
    margin-left: 8px;
    flex: 1;
}

.search-bar>.search-bar-warpper>.search-bar-input {
    outline: none;
    border: none;
    font-size: medium;
    width: 100%;
    background-color: var(--search-bar);
}

.search-container {
    padding: 16px;
    margin: 16px;
    display: flex;
    flex-direction: column;
}

/* .search-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.search-container::-webkit-scrollbar {
    display: none;
} */

.search-wrapper {
    display: flex;
    justify-content: center;
}

.search-results {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--desktop-card-search-width));
    gap: 8px;
    overflow: auto;
}