:root {
    --search-bar: #e3e3e3;
    --desktop-card-width: 98px;
    --desktop-card-height: 143px;
    --desktop-card-search-width: 70px;
    --desktop-card-search-height: 102px;
}

.app {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex: 1;
}

.main-content {
    padding: 8px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border: black;
    max-width: 857px;
}

.header {
    text-align: center;
    padding: 16px;
}

.header>h1 {
    margin: 10px 0px;
}

.card-detail-panel {
    width: calc(100vw - 10%);
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 2;
}

.card-detail-image {
    height: 90vh;
}

.card-detail-panel>.detail {
    height: calc(90vh - 32px);
    padding: 16px;
    margin-left: 32px;
}

.card-detail-panel>.detail>.title {
    flex: 1;
    font-size: xx-large;
    color: #e3e3e3;
}

.card-detail-panel>.detail>.description {
    margin-top: 16px;
    flex: 9;
    font-size: large;
    color: #e3e3e3;
}